# Build ve Derleme Çıktıları
build/
bin/
out/
cmake-build-*/
server
app
*.o
*.out
*.so
*.a

# Veri Dosyaları ve Loglar
data/
logs/
*.dat
*.log

# IDE ve Editör Dosyaları
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
